@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.salondeletter.com/cdn/font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
